<nav class="navbar navbar-expand-md navbar-light " style="background-color: #f0f6fa;">
    <a class="navbar-brand" href="/boFournisseur"><img src="../../assets/images/3.svg" style="width: 90px;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item ">
                </li>
            <li class="nav-item ">
                <a class="nav-link" href="boFournisseur">FOURNISSEURS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> BORDEREAUX </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="border-radius: 20px;">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                       <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="BobventTnd"
                                >TND</a></li>
                            <li><a class="dropdown-item" href="BobventDevise">EURO</a></li>
                        </ul></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">3WM</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="BoB3wmtnd">TND</a></li>
                            <li><a class="dropdown-item" href="BoB3wmDevise">DEVISE</a></li>
                            <li><a class="dropdown-item" href="Bordcert">CERT</a></li>
                            <li><a class="dropdown-item" href="Bordsotetel">SOTETEL</a></li>
                            <li><a class="dropdown-item" href="Bordlc">LETTRE CREDIT</a></li>
                            <li><a class="dropdown-item" href="Bordsteg">STEG</a></li>
                            <li><a class="dropdown-item" href="Bordance">ANCE</a></li>

                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >COMMISSION & DISTRIBUTION</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                         </ul></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OPÉRATEUR</a>
                           
                  
                </ul>
            </li>
            <!-- <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> FACTURES </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="border-radius: 20px;">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                            <li><a class="dropdown-item" href="BofacVentDevise">EURO</a></li>
                        </ul></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="Bofac3wmtnd">TND</a></li>
                            <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                            <li><a class="dropdown-item" href="Bo3wmsteg">STEG</a></li>
                            <li><a class="dropdown-item" href="Bo3wmance">ANCE</a></li>
                            <li><a class="dropdown-item" href="Bo3wmsotetel">SOTETEL</a></li>
                            <li><a class="dropdown-item" href="Bo3wmlc">LETTRE CREDIT</a></li>
                            <li><a class="dropdown-item" href="Bo3wmcert">CERT</a></li>



                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FINANCEMENT</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="Bofacfintnd">TND</a></li>
                            <li><a class="dropdown-item" href="Bofacfindevise">EURO</a></li>
                        </ul></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="Bofacfisctnd">TND</a></li>
                                <li><a class="dropdown-item" href="Bofacfiscdevise">EURO</a></li>
                            </ul></li>
                           
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OPERATEUR</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Bofacoptnd">TND</a></li>
                                        <li><a class="dropdown-item" href="Bofacopdevise">EURO</a></li>
                                    </ul></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FOND DE ROULEMENT</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Bofacrembtnd">TND</a></li>
                                            <li><a class="dropdown-item" href="Bofacrembdevise">EURO</a></li>
                                        </ul></li>
                                        
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="BoFactComdist" >COMMISSION & DISTRIBUTION</a>

                </ul>
            </li> -->
           


            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> FACTURES </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="border-radius: 20px;">
                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >EN COURS</a>
                    <ul class="dropdown-menu" style="border-radius: 20px;">
                       
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
 
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >STEG</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                        <li><a class="dropdown-item" href="Bo3wmsteg">TND</a></li>

                                    </ul></li>
                                
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ANCE</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Crancedevise">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Bo3wmance">TND</a></li>

                                        </ul></li>

                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >SOTETEL</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Bo3wmsotetel">TND</a></li>
    
                                 </ul></li>
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="lccrDevise">DEVISE</a></li>
                                                    <li><a class="dropdown-item" href="Bo3wmlc">TND</a></li>
        
                                     </ul></li>

                                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CERT</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="certcrDevise">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Bo3wmcert">TND</a></li>

                             </ul></li>

                             <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                                    <li><a class="dropdown-item" href="BofacVentDevise">DEVISE</a></li>
                                </ul></li>


                                
                            </ul>
                    </li>

                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                            <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                            <li><a class="dropdown-item" href="BofacVentDevise">DEVISE</a></li>
                        </ul></li>
                    
                        
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FINANCEMENT</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                    <li><a class="dropdown-item" href="Bofacfintnd">TND</a></li>
                                    <li><a class="dropdown-item" href="Bofacfindevise">DEVISE</a></li>
                                </ul></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Bofacfisctnd">TND</a></li>
                                        <li><a class="dropdown-item" href="Bofacfiscdevise">DEVISE</a></li>
                                    </ul></li>
                                   
                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OPERATEUR</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Bofacoptnd">TND</a></li>
                                                <li><a class="dropdown-item" href="Bofacopdevise">DEVISE</a></li>
                                            </ul></li>
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FOND DE ROULEMENT</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Crfdtnd">TND</a></li>
                                                    <li><a class="dropdown-item" href="Crfddv">DEVISE</a></li>
                                                </ul></li>
                    

                    </ul>
                </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ENVOYÉES</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                           
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">

                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >STEG</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Stegdeviseenv">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Stegtndenv">TND</a></li>

                                        </ul></li>
                                    
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ANCE</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Ancedeviseenv">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Ancetndenv">TND</a></li>
    
                                            </ul></li>

                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >SOTETEL</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Sotdeviseenv">DEVISE</a></li>
                                                    <li><a class="dropdown-item" href="Sottndenv">TND</a></li>
        
                                     </ul></li>
                                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                                        <li><a class="dropdown-item" href="Lcdeviseenv">DEVISE</a></li>
                                                        <li><a class="dropdown-item" href="Lctndenv">TND</a></li>
            
                                         </ul></li>

                                         <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CERT</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Certdeviseenv">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Certtndenv">TND</a></li>
    
                                 </ul></li>

                                 <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="ventenvTnd">TND</a></li>
                                        <li><a class="dropdown-item" href="ventenvDevise">DEVISE</a></li>
                                    </ul></li>
                                    <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FOND DE ROULEMENT</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Bofacrembtnd">TND</a></li>
                                            <li><a class="dropdown-item" href="Bofacrembdevise">DEVISE</a></li>
                                        </ul></li> -->


                                    
                                </ul>
                        </li>

                        <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                                <li><a class="dropdown-item" href="BofacVentDevise">DEVISE</a></li>
                            </ul></li> -->
                        
                            
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FINANCEMENT</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="finenvTnd">TND</a></li>
                                        <li><a class="dropdown-item" href="finenvDevise">DEVISE</a></li>
                                    </ul></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="fiscenvTnd">TND</a></li>
                                            <li><a class="dropdown-item" href="fiscenvDevise">DEVISE</a></li>
                                        </ul></li>
                                       
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OPERATEUR</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="openvTnd">TND</a></li>
                                                    <li><a class="dropdown-item" href="openvDevise">DEVISE</a></li>
                                                </ul></li>
                                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FOND DE ROULEMENT</a>
                                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                                        <li><a class="dropdown-item" href="Envfdtnd">TND</a></li>
                                                        <li><a class="dropdown-item" href="Envfddevise">DEVISE</a></li>
                                                    </ul></li>
                        

                        </ul>
                    </li>



                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >REJETÉES</a>
                        <ul class="dropdown-menu" style="border-radius: 20px;">
                           
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >3WM</a>
                                <ul class="dropdown-menu" style="border-radius: 20px;">

                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >STEG</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Devise3wmstegrjc">DEVISE</a></li>
                                            <li><a class="dropdown-item" href="Bo3wmstegtndrjc">TND</a></li>

                                        </ul></li>
                                    
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >ANCE</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Bofac3wmDevise">TND</a></li>
    
                                            </ul></li>

                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >SOTETEL</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                                    <li><a class="dropdown-item" href="Bofac3wmDevise">TND</a></li>
        
                                     </ul></li>
                                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >LETTRE CREDIT</a>
                                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                                        <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                                        <li><a class="dropdown-item" href="Bofac3wmDevise">TND</a></li>
            
                                         </ul></li>

                                         <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >CERT</a>
                                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                                <li><a class="dropdown-item" href="Bofac3wmDevise">DEVISE</a></li>
                                                <li><a class="dropdown-item" href="Bofac3wmDevise">TND</a></li>
    
                                 </ul></li>

                                 <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                                        <li><a class="dropdown-item" href="BofacVentDevise">DEVISE</a></li>
                                    </ul></li>


                                    
                                </ul>
                        </li>

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >VENTILATION DIRECTE</a>
                            <ul class="dropdown-menu" style="border-radius: 20px;">
                                <li><a class="dropdown-item" href="BofacVentTnd">TND</a></li>
                                <li><a class="dropdown-item" href="BofacVentDevise">DEVISE</a></li>
                            </ul></li>
                        
                            
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FINANCEMENT</a>
                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                        <li><a class="dropdown-item" href="Bofacfintnd">TND</a></li>
                                        <li><a class="dropdown-item" href="Bofacfindevise">DEVISE</a></li>
                                    </ul></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FISCALITÉ</a>
                                        <ul class="dropdown-menu" style="border-radius: 20px;">
                                            <li><a class="dropdown-item" href="Bofacfisctnd">TND</a></li>
                                            <li><a class="dropdown-item" href="Bofacfiscdevise">DEVISE</a></li>
                                        </ul></li>
                                       
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >OPERATEUR</a>
                                                <ul class="dropdown-menu" style="border-radius: 20px;">
                                                    <li><a class="dropdown-item" href="Bofacoptnd">TND</a></li>
                                                    <li><a class="dropdown-item" href="Bofacopdevise">DEVISE</a></li>
                                                </ul></li>
                                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" >FOND DE ROULEMENT</a>
                                                    <ul class="dropdown-menu" style="border-radius: 20px;">
                                                        <li><a class="dropdown-item" href="Bofacrembtnd">TND</a></li>
                                                        <li><a class="dropdown-item" href="Bofacrembdevise">DEVISE</a></li>
                                                    </ul></li>
                        

                        </ul>
                    </li>
                   
                    
                        
                                        

                </ul>
            </li>


            

        </ul> 
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" style="font-style:italic;color: rgb(90, 87, 87);" ><b>{{connectedUser.profil}} :</b> 
                <i style="width: 40px;">  Connecté(e) en tant que: {{connectedUser.matricule}} </i> 
            <button type="button"  class="btn btn-white pb-modalreglog-submit"   
             data-toggle="modal" data-target="#myModalcpt"> <img [src]="completedImage" style="width: 60px;height:60px;border-radius: 30px;"/></button></a>
          </li></ul>
    </div>

</nav>





<div class="container pb-modalreglog-container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="input-group pb-modalreglog-input-group">
            </div>
            <div class="modal fade" id="myModalcpt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                      </div>
                      
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" 
                          data-toggle="modal" data-target="#compteOrmdp" >Compte</button>
                          <button type="button" class="btn btn-secondary" 
                          data-toggle="modal" data-target="#myModalsur" data-dismiss="modal">Déconnexion</button>
                      </div>
                  </div>
              </div>
          </div>
         

          <div class="container pb-modalreglog-container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <div class="input-group pb-modalreglog-input-group">
                    </div>
                    <div class="modal fade" id="myModalsur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>

                              <div class="modal-body">
                                <h4 style="text-align: center;">Êtes-vous sûr?</h4>
                              
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Non</button>
                                  <button type="button" class="btn btn-primary" (click)="disconnected()" routerLink="/" data-dismiss="modal" >Oui</button>
                              </div>
                          </div>
                      </div>
                  </div>
</div></div></div></div>



 


                  <div class="container pb-modalreglog-container" >
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-4">
                            <div class="input-group pb-modalreglog-input-group">
                            </div>
                            <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-sm" role="document" style="max-width: 80%;">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <form class="pb-modalreglog-form-reg" >
                                            <div class="row mb-4">
                                                   <div class="col">
                                                    <div class="form-outline">   
                                                  <label for="id">Id</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                      <input type="text" class="form-control" id="id" placeholder="Id" name="id" [(ngModel)]='connectedUser.id' readonly>
                                                  </div></div></div>
                                               
                                                  <div class="col">
                                                    <div class="form-outline"> 
                                                  <label for="createdBy">Créé par</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                      <input type="text" class="form-control" id="createdBy" placeholder="Créé par" name="createdBy"  [(ngModel)]='connectedUser.created_by'
                                                      #cb="ngModel" required  >
                                                      <br>
                                                      <br>
                                                       <div class="error" *ngIf="cb.errors?.required && cb.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div></div>
            
                                              <div class="row mb-4">
                                                <div class="col">
                                                  <div class="form-outline"> 
                                                  <label for="direction">Direction</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                      <input type="text" class="form-control" id="direction" placeholder="Direction" name="direction" [(ngModel)]='connectedUser.direction'
                                                      #dir="ngModel" required>
                                                      <div class="error" *ngIf="dir.errors?.required && dir.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div>
                                                <div class="col">
                                                  <div class="form-outline"> 
                                                  <label for="email">Email</label>
                                                  <div class="input-group pb-modalreglog-input-group">
                                                      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]='connectedUser.email'
                                                      #em="ngModel" required>
                                                      <div class="error" *ngIf="em.errors?.required && em.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                  </div>
                                              </div></div></div>
            
                                              <div class="row mb-4">
                                                <div class="col">
                                                  <div class="form-outline">
                                                <label for="matricule">Matricule</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="matricule" placeholder="Matricule" name="matricule" [(ngModel)]='connectedUser.matricule'
                                                    #mtr="ngModel" required>
                                                    <div class="error" *ngIf="em.errors?.required && em.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                </div>
                                            </div></div>
                                            <div class="col">
                                                <div class="form-outline">
                                              

                                                <label for="nom">Nom</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" [(ngModel)]='connectedUser.name'
                                                    #nm="ngModel" required>
                                                    <div class="error" *ngIf="nm.errors?.required && nm.touched" 
                                                    style="color:firebrick;" >Obligatoire !</div>
                                                </div>
                                            </div>
                                            </div></div>
                                            <div class="row mb-4">
                                            <div class="col">
                                                <div class="form-outline">
                                                <label for="phone">Téléphone</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="phone" placeholder="Téléphone" name="phone" [(ngModel)]='connectedUser.phone'>
                                                </div>
                                            </div></div>
                                            <div class="col">
                                                <div class="form-outline">
                                                <label for="profil">Profil</label>
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                                    <input type="text" class="form-control" id="profil" placeholder="Profil" name="profil" [(ngModel)]='connectedUser.profil'
                                                    #prf="ngModel" required>
                                                    <div class="error" *ngIf="prf.errors?.required && prf.touched" 
                                                       style="color:firebrick;" >Obligatoire !</div>
                                                </div>
                                            </div></div></div>
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                   
                                                </div></div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                <div class="input-group pb-modalreglog-input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                    <input type="file" class="form-control" id="image" placeholder="Image" (change)="onFileChanged($event)">
                                                    <input *ngIf="!uploadedSuccessfullyToUpdate" type="button" (click)="onUploadToUpdate()" value="upload">
                                                    <div class="error" *ngIf="notImageToUpdate" style="color:firebrick;"> Le fichier doit être une image !</div>
                
                                                </div></div></div>
                                           </div>
            
                                        
                                            
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                          <button type="button" class="btn btn-primary" (click)="updateUser()"
                                          *ngIf="!notImageToUpdate && !mtr.errors?.required">Modifier</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
            
            </div></div></div>


            <div class="container pb-modalreglog-container" >
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="input-group pb-modalreglog-input-group">
                        </div>
                        <div class="modal fade" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document" style="max-width: 40%;">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form class="pb-modalreglog-form-reg" >
                                        <div class="form-group">
                                            <label for="oldpwd">L'ancien mot de passe</label>
                                            <input type="text" class="form-control" id="oldpwd" [(ngModel)]='changepassword.ancien' placeholder="Entrer l'ancien mot de passe "
                                            (input)="onSearchupdateChange($event.target.value)" #oldpwd="ngModel">
                                            <div class="error" *ngIf="!testancienmdp  " style="color:firebrick;">Mot de passe incorrecte !</div>

                                             
                                          </div>
                                          <div class="form-group">
                                            <label for="newpwd1">Mot de passe</label>
                                            <input type="text" class="form-control" id="newpwd1" [(ngModel)]='changepassword.nouveau' name="new" placeholder="Entrer le nouveau mot de passe"
                                            #pwd="ngModel" required minlength="8">
                                            <small id="emailHelp" class="form-text text-muted">La taille minimum est 8 charactères.</small>
                                            <div class="error" *ngIf="pwd.errors?.required && pwd.touched" style="color:firebrick;">Mot de passe obligatoire !</div>
                                            <div class="error" *ngIf="pwd.errors?.minlength && pwd.touched" style="color:firebrick;">Longueur très petite !</div>
                                         
                                        </div>
                                                             
                                          <div class="form-group" *ngIf="!pwd.errors?.minlength && !pwd.errors?.required">
                                            <label for="newpwd2">Mot de passe</label>
                                            <input type="text" class="form-control" id="newpwd2" [(ngModel)]='changepassword.nouveau2' name="new2"
                                            (input)="onSearchupdateChangenew($event.target.value)" #pwd2="ngModel" placeholder="Récrire le nouveau mot de passe">
                                            <div class="error" *ngIf="!testnewpwd && pwd2.touched " style="color:firebrick;">Mot de passe non-conforme !</div>
                                          </div>
                                        
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                      <button type="button" class="btn btn-primary" (click)="updateUser()"
                                      *ngIf="testnewpwd && testancienmdp && buttonshowtime ">Modifier</button>
                                  </div>
                              </div>
                          </div>
                      </div>
        
        </div></div></div>




            <div class="container pb-modalreglog-container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="input-group pb-modalreglog-input-group">
                        </div>
                        <div class="modal fade" id="compteOrmdp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                           <span aria-hidden="true">&times;</span>
                                       </button>
                                  </div>
    
                                  <div class="modal-body">
                                    <h4 style="text-align: center;">Que voulez-vous changer?</h4>
                                  
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal" 
                                    data-toggle="modal" data-target="#updateUserModal">Autres données</button>
                                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                                      data-toggle="modal" data-target="#changepwd"  >Mot de passe</button>
                                 
                                  </div>
                              </div>
                          </div>
                      </div>
    </div></div></div></div>